<a href="https://colab.research.google.com/github/IJS1016/Algorithm/blob/master/Code_up_1928_for_Recursive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# CodeUp #1928 : 우박수 (3n+1)
# https://codeup.kr/problem.php?id=1928

n = int(input())

5

In [13]:
def calculate_n(n): #{
    global history
    print(n)
    
    if n == 1 : return 0
    elif n % 2 == 1 :#{
        calculate_n(3*n+1)
    #}    
    else : calculate_n(int(n/2))
#}

calculate_n(n)

5
16
8
4
2
1